* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #616161;
    --color2: #f30000;
    --color3: #01db30;
}

body {
    font-family: 'Times New Roman', Times, serif;

}

header {
    background-color: var(--color1);
    color: var(--color2);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    background-color: var(--color3);
    margin: 12px 12px 12px 0;
    padding: 8px 10px 8px 60px;
}

a {
    text-decoration: none;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0 70px 25px 0;
}

header nav ul li {
    border-bottom:solid 2px var(--color2);
    margin: 0px 10px 0 10px;
    padding-bottom: 3px;
}

header nav ul li a {
    margin: 15px;
    font-weight: lighter;
    font-size: 20px;
    color: var(--color2);
}