* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #616161;
    --color2: #f30000;
    --color3: #01db30;
    --color4: #0056ac;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--color4);
}

header {
    background-color: var(--color1);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    background-color: var(--color3);
    color: var(--color1);
    margin: 12px 12px 12px 0;
    padding: 8px 10px 8px 60px;
}

a {
    text-decoration: none;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0 70px 25px 0;
}

header nav ul li {
    border-bottom:solid 3px var(--color2);
    margin: 0px 10px 0 10px;
    padding-bottom: 3px;
}

header nav ul li a {
    color: var(--color2);
    margin: 15px;
    font-size: 20px;
    transition: .2s;
}

header nav ul li:hover {
    background-color: var(--color2);
}

header nav ul li:hover > a {
    color: var(--color1);
}

.hero {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/hero-background.jpg);
    background-color: lavender;/* set to hexidecimal to match other backgrounds in case image doesn't load*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    align-items: flex-end;
    justify-content: flex-end;
}

.hero div {
    margin: 0 100px 45px 0;
    padding: 8px;
    background-color: var(--color3);
    color: var(--color1);
}

.content-section {
    display: flex;
    align-items: center;
}

.about-me-content {
    display: flex;
    align-items: center;
    border-left: solid 3px var(--color1);
    margin: 40px;
    padding: 20px;
}

.title {
    padding: 0 40px 50px 20px;
    display: flex;
    text-align: center;
    flex: 0 0 8%;
}

.about-me-content img {
    width: 300px;
    height: 300px;
}

.about-me-content p{
    padding-left: 20px;
}

.work-content {
    border-left: solid 3px var(--color1);
    margin: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.example-card-main {
    position: absolute;
    background-color: var(--color2);
    color: var(--color1);
    margin-right: 260px;
    z-index: 99;
}


.example-main img {
    width: 800px;
    height: 400px;
    border: solid 2px var(--color2);
    position: relative;
    z-index: 98;
}

.examples {
    display: flex;
    flex-wrap: wrap;
}

.example-card {
    position: absolute;
    background-color: var(--color2);
    color: var(--color1);
    margin-right: 260px;
    z-index: 99;
}

.examples img {
    width: 400px;
    height: 200px;
    border: solid 2px var(--color2);
    position: relative;
    z-index: 98;
}

.work-example {
    margin: 20px
}