* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #a84ce6;
    --color2: #faa01a;
    --color3: #4c68e6;
    --color4: #bcfdc7;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--color4);
}

header {
    background-color: var(--color1);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    background-color: var(--color2);
    color: var(--color1);
    margin: 12px 12px 12px 0;
    padding: 8px 10px 8px 60px;
}

a {
    text-decoration: none;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0 70px 25px 0;
}

header nav ul li {
    border-bottom:solid 3px var(--color2);
    margin: 0px 10px 0 10px;
    padding-bottom: 3px;
}

header nav ul li a {
    color: var(--color2);
    margin: 15px;
    font-size: 20px;
    transition: .2s;
}

header nav ul li:hover {
    background-color: var(--color2);
}

header nav ul li:hover > a {
    color: var(--color1);
}

.hero {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/hero-background.jpg);
    background-color: var(--color1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    align-items: flex-end;
    justify-content: flex-end;
}

.hero div {
    margin: 0 100px 45px 0;
    padding: 8px;
    background-color: var(--color2);
    color: var(--color1);
}

.content-section {
    display: flex;
}

.about-me-content {
    display: flex;
    align-items: center;
    border-left: solid 3px var(--color1);
    margin: 40px;
    padding: 20px;
    flex: 0 0 80%;
}

.title {
    margin-top: 20px;
    font-size: 36px;
    color: var(--color1);
    display: flex;
    justify-content: flex-end;
    text-align: right;
    flex: 0 0 10%;
}

.about-me-content img {
    width: 300px;
    height: 300px;
}

.about-me-content p{
    padding-left: 20px;
}

.work-content {
    border-left: solid 3px var(--color1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px;
    padding: 20px;
    flex: 0 0 80%;
}

.example-main{
    margin: 40px;
}

.examples{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}

.example-card-main {
    position: absolute;
    background-color: var(--color2);
    color: var(--color1);
    z-index: 99;
}

.work-example {
    flex: 0 0 50%;
}


.example-main img {
    border: solid 3px var(--color2);
    position: relative;
    z-index: 98;
    width: 90%;
    height: 90%;
    opacity: .5;
    transition: .3s;
}

.example-card {
    position: absolute;
    background-color: var(--color2);
    color: var(--color1);
    z-index: 99;
}

.examples img {
    border: solid 3px var(--color2);
    position: relative;
    z-index: 98;
    width: 80%;
    height: 70%;
    opacity: .5;
    transition: .3s;
}

.example-main img:hover {
    opacity: 1;
}

.examples img:hover {
    opacity: 1;
}

footer {
    display: flex;
}

.contact-content {
    display: flex;
    justify-content: space-around;
    border-left: solid 3px var(--color1);
    margin: 40px;
    padding: 20px;
    flex: 0 0 80%;
    text-align: center;
}

.contact-content a {
    color: var(--color3);
}

.contact-content a img {
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 980px) {
    header{
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;
    }

    header h1 {
        margin: 0;
        padding: 0 10px 0 10px;
    }

    header nav ul {
        margin: 10px 0 10px 0;
        padding: 0;
    }


    .hero{
        height: 250px;
    }


    .content-section {
        flex-direction: column;
    }

    .title {
        justify-content: center;
    }

    .about-me-content {
        border-left: none;
        border-top: solid 3px var(--color1) ;
    }

    .work-content {
        border-left: none;
        border-top: solid 3px var(--color1);
    }

    .work-example {
        flex: 0 0 100%;
    }

    .example-main img {
        opacity: 1;
    }

    .examples img {
        opacity: 1;
        width: 90%;
    }

    .contact-content {
        border-left: none;
        border-top: solid 3px var(--color1);
    }
}

@media screen and (max-width:768px){

    header {
        justify-content: center;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0 0 0;
    }

    .hero {
        align-items: flex-end;
        justify-content: center;
    }

    .hero div {
        margin: 0 0 10px 0;
    }

    .hero h2 {
        text-align: center;
    }

    .content-section {
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    .about-me-content {
        flex-wrap: wrap;
    }

    .example-main {
        flex: 0 0 100%;
        margin: 0 0 50px 0;
    }

    .examples {
        flex: 0 0 100%;
        margin: 0;
    }

    .contact-content {
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    .address-block {
        flex: 0 0 100%;
    }

}